name: Deploy main (and storybook)

on:
  workflow_call:
    secrets:
      GH_BOT_USER:
        required: true
      GH_BOT_PAT:
        required: true
      CR_PAT:
        required: true
      FONTAWESOME_NPM_AUTH_TOKEN:
        required: false
      E2E_USERNAME:
        required: true
      E2E_PASSWORD:
        required: true
      SLACK_WEBHOOK_URL:
        required: true
      SSH_KEY:
        required: true
      SSH_KNOWN_HOSTS:
        required: true
      SSH_USER:
        required: true
    inputs:
      SSH_SERVER:
        required: true
        type: string
      E2E_INSTANCE_URL:
        required: true
        type: string
      SERVICE_NAME:
        required: true
        type: string
      DEPLOY_STORYBOOK:
        required: false
        type: string
        default: "false"
      RUN_TYPECHECK:
        required: false
        type: string
        default: "false"
      RUN_BUILD:
        required: false
        type: string
        default: "false"

jobs:
  lint-and-test:
    name: Lint / Test
    uses: dot-base/.github/.github/workflows/node-lint-and-test.yml@main
    secrets:
      FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}
      GH_BOT_PAT: ${{ secrets.GH_BOT_PAT }}
    with:
      RUN_COVERAGE: "false"
      RUN_TYPECHECK: ${{ inputs.RUN_TYPECHECK }}

  build-image:
    name: Build Docker Image for main
    uses: dot-base/.github/.github/workflows/build-docker-image.yml@main
    with:
      ref: main
      imageTag: main
    secrets:
      GH_BOT_USER: ${{ secrets.GH_BOT_USER }}
      GH_BOT_PAT: ${{ secrets.GH_BOT_PAT }}
      CR_PAT: ${{ secrets.CR_PAT }}
      FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

  deploy-image:
    name: Deploy main on main.dotbase.dev
    uses: dot-base/.github/.github/workflows/deploy-service-image.yml@chore/add-deploy-main
    with:
      instance: dev-main
      service: ${{ inputs.SERVICE_NAME }}
      image: ghcr.io/dot-base/${{ inputs.SERVICE_NAME }}:main
      URL: https://main.dotbase.dev
      SSH_SERVER: ${{ inputs.SSH_SERVER }}
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}

  deploy-storybook:
    if: ${{ inputs.DEPLOY_STORYBOOK == 'true' }}
    name: Deploy Storybook on ui.dotbase.dev
    uses: dot-base/.github/.github/workflows/deploy-storybook.yml@chore/add-deploy-main
    needs: [lint-and-test]
    secrets:
      FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}

  e2e-tests:
    name: Run E2E Tests
    uses: dot-base/.github/.github/workflows/e2e-tests.yml@chore/add-deploy-main
    secrets:
      FONTAWESOME_NPM_AUTH_TOKEN: ${{ secrets.FONTAWESOME_NPM_AUTH_TOKEN }}
      E2E_USERNAME: ${{ secrets.E2E_USERNAME }}
      E2E_PASSWORD: ${{ secrets.E2E_PASSWORD }}
      GH_BOT_PAT: ${{ secrets.GH_BOT_PAT }}
    with:
      E2E_INSTANCE_URL: ${{ inputs.E2E_INSTANCE_URL }}

  send-slack-notification:
    name: Send Slack Notification
    uses: dot-base/.github/.github/workflows/send-slack-message.yml@main
    needs: [e2e-tests]
    if: ${{ always() }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    with:
      status: ${{ needs.e2e-tests.result == 'success' && 'success' || 'failure' }}
      serviceName: ${{ inputs.SERVICE_NAME }}
      url: "https://main.dotbase.dev"
